@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1 {
  font-family: "Roboto", "Helvetica", "微軟正黑體", Arial, sans-serif;
  font-size: 4em;
  font-weight: 700;
  color: #5d5d5d;
  margin: 0;
  font-family: "Amaranth", "Roboto", "Helvetica", "微軟正黑體", Arial, sans-serif;
}

h2 {
  font-family: "Roboto", "Helvetica", "微軟正黑體", Arial, sans-serif;
  font-size: 4em;
  font-weight: 700;
  color: #DDDDDD;
  margin: 0;
  font-family: "Amaranth", "Roboto", "Helvetica", "微軟正黑體", Arial, sans-serif;
}

h3 {
  font-family: "Roboto", "Helvetica", "微軟正黑體", Arial, sans-serif;
  font-size: 1.3em;
  font-weight: 500;
  color: #5d5d5d;
  margin: 0;
}

p {
  font-family: "Roboto", "Helvetica", "微軟正黑體", Arial, sans-serif;
  font-size: 1.2em;
  font-weight: 400;
  color: #5d5d5d;
  margin: 0;
}

span {
  font-family: "Roboto", "Helvetica", "微軟正黑體", Arial, sans-serif;
  font-size: 1.2em;
  font-weight: 400;
  color: #5d5d5d;
  margin: 0;
}

i {
  font-size: 24px;
  color: #ffffff;
}

p > span {
  font-size: 1em;
}

.clearboth {
  clear: both;
}

.mini-work-f2e {
  background: url("../img/works/mini-f2e.jpg") center -5px no-repeat;
  background-size: cover;
}

.mini-work-yiwen {
  background: url("../img/works/mini-yiwen.jpg") center top no-repeat;
  background-size: cover;
}

.mini-work-wanderers {
  background: url("../img/works/mini-wanderers.jpg") center bottom no-repeat;
  background-size: cover;
}

.mini-work-food {
  background: url("../img/works/mini-food.jpg") center center no-repeat;
  background-size: cover;
}

.mini-work-dw {
  background: url("../img/works/mini-dw.jpg") center top no-repeat;
  background-size: cover;
}

html {
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
}

.wrapper {
  width: 100%;
  height: 100%;
  background: url("../img/banner.jpg") 46% bottom no-repeat fixed;
  background-size: cover;
  overflow: hidden;
}

.wrapper:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(-145deg, #1bb7f3, #300b6b) fixed;
  background-size: cover;
  opacity: .4;
}

.banner {
  height: 100vh;
}

.banner .banner-content {
  position: fixed;
  width: 100%;
  height: 100%;
}

.banner .banner-content h1 {
  color: #ffffff;
  text-align: right;
  top: 45%;
  right: 12%;
}

.banner .banner-content h1 > span {
  font-family: "Roboto", "Helvetica", "微軟正黑體", Arial, sans-serif;
  font-size: 1em;
  font-weight: 500;
  color: #ffffff;
  margin: 0;
  text-align: right;
  font-family: "Amaranth", "Roboto", "Helvetica", "微軟正黑體", Arial, sans-serif !important;
}

.banner .banner-content .scroll {
  position: absolute;
  left: 50%;
  top: 85%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  color: #ffffff;
}

.banner .banner-content .scroll span {
  font-family: "Roboto", "Helvetica", "微軟正黑體", Arial, sans-serif;
  color: #ffffff;
  font-size: 1.3em;
}

.banner .banner-content .scroll i {
  display: block;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-animation: updown infinite 1s ease-out;
          animation: updown infinite 1s ease-out;
}

.banner .other-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 160px;
  top: 7px;
  left: -7px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0;
  -webkit-transform: rotate(90deg) translate(50%, 25px);
          transform: rotate(90deg) translate(50%, 25px);
}

.banner .other-link a, .banner .other-link i {
  cursor: pointer;
  opacity: .75;
  font-size: 28px;
}

.banner .other-link a:hover, .banner .other-link i:hover {
  opacity: 1;
  text-shadow: 2px 2px #1e3133;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.banner .copyright {
  font-family: "Roboto", "Helvetica", "微軟正黑體", Arial, sans-serif;
  font-size: 1em;
  font-weight: 400;
  color: #ffffff;
  margin: 0;
  position: fixed;
  left: 50%;
  bottom: 0.8em;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

#mycanvas {
  background: #fffdfc;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 10px;
}

.content {
  width: 94%;
  margin: 0 auto;
  background: #fff;
  -webkit-box-shadow: 0 0 7px 2px #13212399;
          box-shadow: 0 0 7px 2px #13212399;
  border-radius: 10px;
  margin-bottom: 50px;
}

.content .title {
  color: white;
  text-shadow: 1px 1px #bdbdbd, 1px -1px #d6d6d6, -1px 1px #d6d6d6, -1px -1px #d6d6d6;
  line-height: 65px;
  margin-bottom: 10px;
}

.content .about-me, .content .portfolio {
  padding: 40px 40px 0;
}

.content .about-me > div {
  line-height: 3em;
}

.content .about-me > div:nth-child(3) {
  width: 60%;
}

.content .about-me > div:nth-child(4), .content .about-me > div:nth-child(5) {
  clear: both;
  margin-top: 140px;
}

.content .about-me > div:nth-child(4) p > span, .content .about-me > div:nth-child(5) p > span {
  color: #4eb1dc;
  font-weight: 500;
  margin-right: 5px;
}

.content .about-me .myphoto {
  position: absolute;
  top: 8%;
  right: 2vw;
  width: 21vw;
  min-width: 250px;
  height: 21vw;
  min-height: 250px;
  border-radius: 25%;
  -webkit-animation: myphoto 10s infinite linear backwards;
          animation: myphoto 10s infinite linear backwards;
  overflow: hidden;
  -webkit-transform-origin: 51% 51%;
          transform-origin: 51% 51%;
}

.content .about-me .myphoto:before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 200%;
  height: 200%;
  background: url("../img/me4.jpg") center center no-repeat;
  -webkit-transform-origin: 38% 38%;
          transform-origin: 38% 38%;
  background-size: 85%;
  left: -25%;
  top: -25%;
  -webkit-animation: remyphoto 10s infinite linear backwards;
          animation: remyphoto 10s infinite linear backwards;
}

.content .about-me .myphoto:after {
  content: "";
  display: inline-block;
  width: 80%;
  height: 80%;
  border: 5px solid #fff;
}

.content .about-me .yearblock {
  clear: both;
}

.content .about-me .yearblock > h3 {
  font-family: "Amaranth", "Roboto", "Helvetica", "微軟正黑體", Arial, sans-serif !important;
  font-family: "Roboto", "Helvetica", "微軟正黑體", Arial, sans-serif;
  font-size: 2em;
  font-weight: 500;
  color: #4c4c4c;
  margin: 0;
  margin-bottom: 20px;
}

.content .about-me .yearblock .experience-text {
  display: inline-block;
}

.content .about-me .yearblock .experience-text > p > i {
  font-size: 1.2em;
  color: #e0bc72;
  margin-right: 3px;
}

.content .about-me .yearblock .experience-work {
  display: inline-block;
  margin-top: 8px;
  margin-bottom: 5%;
}

.content .about-me .yearblock .experience-work > div {
  display: inline-block;
  width: 235px;
  height: 270px;
  border: 1px solid #e6e6e6;
  margin-right: 10px;
  border-radius: 10px;
  overflow: hidden;
}

.content .about-me .yearblock .experience-work > div:hover > div > div {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

.content .about-me .yearblock .experience-work .mini-overflow {
  width: 100%;
  height: 75%;
  margin: 0 auto 7px;
  overflow: hidden;
}

.content .about-me .yearblock .experience-work .mini-work {
  width: 100%;
  height: 100%;
  -webkit-transition: .2s;
  transition: .2s;
}

.content .about-me .yearblock .experience-work img {
  width: 100%;
  margin: 0 auto;
}

.content .about-me .yearblock .experience-work p {
  line-height: 28px;
  font-size: 1em;
  text-align: center;
}

.content .about-me .yearblock .experience-work .work-type {
  color: #7bc3d6;
}

.content .skill {
  padding: 0 40px 40px;
}

.content .skill h2 {
  margin-top: 40px;
}

.content .skill .skill-flex {
  clear: both;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 5%;
}

.content .skill .skill-flex .skill-block {
  display: inline-block;
  margin-top: 20px;
}

.content .skill .skill-flex .skill-block > div {
  margin: 0 auto;
  width: 100%;
  background-color: #666666;
  border-radius: 50%;
}

.content .skill .skill-flex .skill-block > div > img {
  width: 100%;
}

.content .skill .skill-flex .skill-block:nth-child(1) > div {
  background-color: #fdf7cc;
}

.content .skill .skill-flex .skill-block:nth-child(2) > div {
  background-color: #e4ffcf;
}

.content .skill .skill-flex .skill-block:nth-child(3) > div {
  background-color: #dcf5fb;
}

.content .skill .skill-flex .skill-block:nth-child(4) > div {
  background-color: #ffd5d2;
}

.content .skill .skill-flex .skill-block h3 {
  display: block;
  text-align: center;
  font-size: 1.2em;
  line-height: 2.4em;
}

.content .skill .tools-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.content .skill .tools-flex .tools-block {
  width: 10%;
  margin: 20px;
}

.content .skill .tools-flex .tools-block div {
  width: 100%;
  padding-top: 100%;
  background: #aaa;
  border-radius: 10px;
}

@media screen and (max-width: 767px) {
  .content .title {
    text-align: center;
  }
  .content .about-me, .content .portfolio {
    padding: 20px 20px 0;
  }
  .content .about-me > div:nth-child(3) {
    width: 100%;
    text-align: center;
  }
  .content .about-me > div:nth-child(4), .content .about-me > div:nth-child(5) {
    text-align: center;
    margin-top: 50px;
  }
  .content .about-me .myphoto {
    position: relative;
    margin: 40px auto;
  }
  .skill .skill-flex .skill-block {
    width: 20em;
  }
  .year2018 .experience-work {
    margin-right: 0;
  }
  .year2016 .experience-work {
    margin-right: 0;
  }
}

@media only screen and (min-width: 768px) {
  .skill h2 {
    float: right;
  }
  .skill .skill-flex .skill-block {
    width: 14em;
  }
  .year2018 .experience-work {
    float: right;
    margin-right: 10px;
  }
  .year2016 .experience-work {
    float: left;
    margin-right: 10px;
  }
}

@-webkit-keyframes updown {
  0% {
    top: 45px;
  }
  25% {
    top: 30px;
  }
  100% {
    top: 45px;
  }
}

@keyframes updown {
  0% {
    top: 45px;
  }
  25% {
    top: 30px;
  }
  100% {
    top: 45px;
  }
}

@-webkit-keyframes myphoto {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes myphoto {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes remyphoto {
  0% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  100% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
}

@keyframes remyphoto {
  0% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  100% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
}

@-webkit-keyframes wrapperback {
  0% {
    background-size: 110%;
  }
  80% {
    background-size: 100%;
  }
  100% {
    background-size: 100%;
  }
}

@keyframes wrapperback {
  0% {
    background-size: 110%;
  }
  80% {
    background-size: 100%;
  }
  100% {
    background-size: 100%;
  }
}
/*# sourceMappingURL=main.css.map */